.Projects > * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Projects {
  background-color: rgba(253,243,230,255);
  color: rgba(37,42,64,255);
  width: 100%;
  padding: 50px 40px;
  padding-top: 30px;
  padding-right: 0;
  /* I expect any part that can't fit to 
    be cut out of the page, since overflow is hidden, I don't 
    expect to see any horizontal scroll bar.
  */
  overflow: hidden;
}
.Projects > h2 {
    margin: 0;
    font-size: 2.4rem;
}
.Projects > .projectPara {
    width: 100%;
    padding:0 40px;
    padding-left: 0;
    font-size: 1.04rem;
}
.Projects ul {
    display: flex;
    margin-top: 20px;
    /* overflow-x: scroll; */
    background-color: rgba(253,243,230,255);
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    /* justify-content: center; */
}
.Projects ul > * {
    flex-basis: 240px;
    flex-shrink: 0;
}
.Projects ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: rgba(69,66,126,255);
    padding: 40px 20px;
    list-style: none;
    margin: 0 10px;
    width: 240px;
    height: 220px;
    border-radius: 10px;
}
.Projects ul li.first {
    margin-left: 0;
}
.Projects ul li .projectTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.Projects ul li .liveLinks {
   display: flex;
   width: 100%;
   margin-top: auto;
   /* padding: 0 20px; */
   justify-content: space-between;
}
.Projects ul li .liveLinks a {
    font-size: 0.7rem;
    /* width: 100%; */
    color: rgba(37,42,64,255);
    font-weight: bold;
    padding: 7px;
    border-radius: 4px;
    box-shadow: 0 0 4px 3px  rgba(253,243,230,255);
}
.Projects .paginationButtons {
    display: flex;
    margin-left: auto;
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 10px;
    width: 100px;
    width: 115px;
    justify-content: space-between;
}
.Projects .paginationButtons span {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    background-color: rgba(69,66,126,255);
    border-radius: 50%;
    color: white;

}
.Projects .paginationButtons span.disable {
    background-color: rgba(125,118,157,255);
    pointer-events: none;
}
.Projects .colorDots {
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: auto;
    margin-top: 20px;
}
.Projects .colorDots .dot {
   width: 10px;
   height: 10px;
   background-color: rgba(125,118,157,255);
   border: 1px solid white;
   border-radius: 50%;
}
.Projects .colorDots .showColor {
    background-color: rgba(69,66,126,255);
}

/* MEDIA QUERIES BEGINS */

@media (min-width : 800px) {
    .Projects ul > * {
        flex-basis: 340px;
    }
    .Projects ul li {
        width: 340px;
        height: 300px;
    }
    .Projects ul li .projectTitle {
        font-size: 1.5rem;
    }
    .Projects ul li .liveLinks a {
        font-size: 1.1rem;
    }
}
@media (min-width : 1200px) {
    .Projects ul > * {
        flex-basis: 540px;
    }
    .Projects ul li {
        width: 540px;
        height: 320px;
    }
}
@media (min-width : 1400px) {
    .Projects ul > * {
        flex-basis: 680px;
    }
    .Projects ul li {
        width: 680px;
        height: 320px;
    }
}
